<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>로그인 폼</title>
    </head>
    <body>
    <h2>로그인</h2>
    <form action="login" method="POST"> <!-- 절대 경로로 수정 -->
        <label for="email">이메일:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br><br> <!-- 비밀번호 필드 type을 password로 변경 -->

        <button type="submit">로그인</button>
    </form>
    <form action="/regist" method="get">
        <button>회원가입</button>
    </form>
    </body>
</html>
